@font-face {
  font-family: "iconfont"; /* Project id 3729292 */
  src: url('@/assets/styles/iconfont/iconfont.woff2?t=1669940861764') format('woff2'),
       url('@/assets/styles/iconfont/iconfont.woff?t=1669940861764') format('woff'),
       url('@/assets/styles/iconfont/iconfont.ttf?t=1669940861764') format('truetype'),
       url('@/assets/styles/iconfont/iconfont.svg?t=1669940861764#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tupian:before {
  content: "\e6c8";
}

.icon-jingdian:before {
  content: "\e602";
}

.icon-fanhui:before {
  content: "\e624";
}

.icon-sousuo:before {
  content: "\e632";
}

.icon-xiajiantou:before {
  content: "\eb6d";
}

